.footer-big {
background-image: url("../assets/img/Group\ 252.jpg");

background-position: center left;
padding-top: 50px;
padding-bottom: 50px;
}

.footer-left {
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(my-medium) {
        justify-content: flex-start;
    }
.big-title {
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    @include breakpoint(my-medium) {
        margin-bottom: 0;
        text-align: left;
    }
     @include breakpoint(large) {
        max-width: 309px;
    }
    font-size: 18px;
    @include breakpoint(my-medium) {
        font-size: 20px;
    }
    @include breakpoint(large) {
        font-size: 35px;

    }
}
}
.footer-rodo {
    padding-top: 1rem;
    padding-bottom: 0.3rem;
    font-size: 9px;
  color: #4E4E4E;
  a {
      color: #4E4E4E;
      &:hover {
        opacity: 0.7
      }
  }
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 640px) {
            flex-direction: row;
            justify-content: space-between;
        }
}

.footer-white {
    a {
        padding-left: 10px;
        &:hover {
            opacity: 0.7;
        }
    }
    p {
        margin-bottom: 0;

    }
    p,a {
        font-size: 10px;
        @include breakpoint(large) {
            font-size: 14px;

        }
        color:#4E4E4E;
    }
    padding-top: 20px;
    padding-bottom: 10px;
    .footer-white-box {
        display: flex;
        align-items: center;
    }
    .last {
        padding-top: 1.5rem;
        justify-content: center;
        .inside {
            display: flex;
            align-items: center;

        }
        @include breakpoint(medium) {
            padding-top: 0;
            justify-content: flex-end;
            .inside {
                display: block;

            }
            a {
                padding-left:0;
            }
            p {
                margin-bottom: 10px;
            }
        }
        @include breakpoint(my-medium) {
            .inside {
                display: flex;
                align-items: center;
    
                a {
                    padding-left:10px;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    .first-box-inside {
        p:first-child {
            padding-bottom: 5px;
        }
    }
    .middle {
        justify-content: flex-end;
        @include breakpoint(medium) {
            justify-content: center;
        }
   
            .middle-inside {
                .first {
                    padding-bottom: 5px;
                }
                @include breakpoint(my-medium) {
                    .first {
                        padding-bottom: 0;
                    }
                display: flex;
                width: 100%;
                justify-content: space-around;
            }
        }
        img {
            width: 13.5px;
            @include breakpoint(large) {
                width: 19px;
                height: auto;
    
            }
        }
    }

}

