
header#site-header.header-gray {
	background-color: #F7F7F7;
}


header#site-header {
	// box-shadow: 0px 3px 20px rgba(155, 155, 155, 0.161);
	padding: 0 0;
	// padding-bottom: 30px;

	// @media(min-width: 980px) {
	// 	padding: 20px 0;

	// }

	position: relative;
	background: transparent;

	.fixed-nav & {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: .3s ease-out;
		z-index: 100;
	}

	.fixed-nav.scrolled & {
		background: #fff;
		box-shadow: 0px 3px 20px rgba(155, 155, 155, 0.161);
	}

	.header-wrap {
		min-height: $header-height;
		padding-top: .5rem;
		padding-bottom: .5rem;

		.fixed-nav & {
			transition: 0.3s ease-out;
		}

		.fixed-nav.scrolled & {
			min-height: $header-height-scrolled;
			.logo-box {
				width: 90px;
			}
		}

	}

	.logo-wrap {
		.logo-box {
		
			transition: .3s ease-in-out;
			width: 100px;
			top: 16px;
			@include breakpoint(medium) {
				width: 130px;
				top: 16px;
			}
			@include breakpoint(large) {
				width: 185px;
			}
		}
		transition: .3s ease-out;
		&:hover {
			opacity: 0.7;
		}
	}
}