.post-content .gallery {
	display: flex;
	margin: -10px !important;
	flex-wrap: wrap;
	.gallery-item {
		padding: 10px;
		margin: 0 !important;
		
		@include breakpoint(small only){
			width: 50% !important;
		}
		
		.gallery-caption {
			padding-top: 0.25em;
		}
		.gallery-icon {
			margin: 0 !important;
			a {
				display: block;
				overflow: hidden;
				&:hover img {
					transform: scale(1.05);
				}
			}
			img {
				transition: inherit;
				display: block;
				border: none !important;
				width: 100%;
			}
		}
	}
}