@import '../general/typography';
@import '../modules/foundation-settings';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

//////////////////main

.main-baner {
    background-image: url("../assets/img/BG.jpg");
    padding-top: 40px;
    padding-bottom: 40px;
    @include breakpoint(medium) {
        padding-top: 100px;
        padding-bottom: 100px;

    }
    @include breakpoint(large) {
        padding-top: 160px;
        padding-bottom: 160px;

    }

    .big-title {
        color: #BBBBBB;

        @include breakpoint(medium) {
            margin-bottom: 50px;
        }
    }

    .p-box {

        margin-bottom: 51px;



        img {
            margin-right: 15px;
        }

        p {
            color: #BBBBBB;
            font-size: 14px;

            @include breakpoint(medium) {
                font-size: 20px;
                margin-bottom: 18px;
            }
        }
    }
}

.main-second {

    background-image: url("../assets/img/Liść.png");
    background-position: top right;
    background-size: 76px;

    @include breakpoint(medium) {
        background-size: 111px;
    }

    @include breakpoint(large) {
        background-size: 136px;
    }

    @media(min-width: 1300px) {
        background-size: 226px;

    }

    padding-top: 50px;

    .title-30 {
        padding-bottom: 2rem;

        @include breakpoint(medium) {
            padding-bottom: 66px;
        }
    }

    .cells-box {
        .cell {
            display: flex;
            align-items: flex-end;
          
        }

        justify-content: center;
    }

    .card {
        text-align: center;

        &:hover {
            cursor: pointer;

            .card-section {
                box-shadow: 0px 5px 10px rgba(127, 169, 174, 0.412);
            }
        }

        .card-section {
            transition: .3s ease-in-out;
            box-shadow: 0px 10px 30px #1818180D;
            border-radius: 7px;
            padding: 94px 42px 42px 42px;
            margin-top: -66px;

            p {
                font-size: 14px;
                font-weight: 500;
                color: #545454;
                line-height: 1.4;

                @include breakpoint(large) {
                    font-size: 16px;

                }
            }
        }
    }

    .button-green-box {
        @include breakpoint(large) {
            min-width: 252px;
            margin-top: 50px;
        }
    }

    .button-green-cell {
        display: flex;
        align-items: center !important;
        justify-content: center !important;

    }
}

.main-baner-second {
    background-image: url("../assets/img/Intersection\ 4.jpg");
    padding-top: 40px;
    padding-bottom: 40px;
    @include breakpoint(medium) {
        padding-top: 80px;
        padding-bottom: 80px;

    }
    @include breakpoint(large) {
        padding-top: 126px;
        padding-bottom: 126px;

    }
    p {
        max-width: 464px;
    }

}

.main-last {
    .grid-container {
        max-width: 1334px !important;
    }

    .title-30 {
        color: $green;
        padding-bottom: 2rem;

        @include breakpoint(medium) {
            padding-bottom: 50px;
        }

        @include breakpoint(large) {
            padding-bottom: 124px;

        }
    }

    .last-items-box {
        display: block;

        @include breakpoint(medium) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 4rem;
        }

        @media(min-width: 900px) {
            margin-bottom: 0;
        }
    }


    .last-items-box-big {
        @include breakpoint(medium) {
            display: block;
        }

        @media(min-width: 900px) {
            display: flex;
        }
    }

    .middle-arrow {
        @include breakpoint(medium) {
            display: none !important;
        }

        @media(min-width: 900px) {
            display: flex !important;
        }
    }

    .last-item,
    .arrow-box {
        margin: auto;
        margin-bottom: 2rem;
        justify-content: center;

        @include breakpoint(medium) {
            margin: auto;
            margin-right: 10px;


        }

        @include breakpoint(large) {
            margin: auto;
            margin-right: 40px;

        }
    }

    .last-item {
        &:last-child {
            @include breakpoint(large) {
                margin-right: 0;

            }
        }

        img {
            margin-right: 24.5px;
        }

        .small-flex {
            margin-bottom: 30px;

            p {
                font-family: 'Red Hat Display', sans-serif;
                font-size: 16px;

                @media(min-width: 1300px) {
                    font-size: 20px;

                }
            }
        }

        max-width: 241px;

        p {
            font-size: 14px;
            line-height: 1.4;
            color: #545454;
            margin-bottom: 0;
        }
    }

    .arrow-box {
        display: flex;
        align-items: center;
    }

    .arrow-right {
        display: none;

        @include breakpoint(medium) {
            display: block;
        }
    }

    .arrow-down {
        @include breakpoint(medium) {
            display: none;
        }
    }

}


////////////////////////about   

.about-first {
    .big-title {
        @include breakpoint(medium) {
            max-width: 180px;
        }
    }

    .left {
        background-image: url("../assets/img/HEADER+TOP.jpg");
        height: 335px;
        background-position: right;

        @include breakpoint(medium) {
            height: auto;
        }
    }

}

.about-second {
    background: #EEEEEE;
    padding-top: 2rem;
    padding-bottom: 2rem;
    img {
        width: 140px;
        @include breakpoint(medium) {
            width: auto;
        }
    }

    .about-second-inside {
        justify-content: space-between;

        .about-second-inside-middle {
            @include breakpoint(medium) {
                padding-right: 20px;
                text-align: center;
            }

            @media(min-width: 900px) {
                padding-left: 40px;
                padding-right: 40px;
            }
        }

        .about-second-inside-right {
            display: none;

            @media(min-width: 900px) {
                display: block;
            }
        }
    }
}

.about-third {
    .bag-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        img {
            object-fit: contain;

        }

    }
    background-image: url("../assets/img/Warstwa\ 22.png");
    background-position-x: -10px;
    background-position-y: 40px;
    background-size: 112px;
    @include breakpoint(medium) {
        background-image: none;
    }
@include breakpoint(medium) {
    background-image: url("../assets/img/Group\ 258.png");
    background-size: 184px;
    background-position: bottom left;

}

    .small-title {
        padding-top: 2rem;

        @include breakpoint(medium) {
            padding-top: 3rem;
        }

        @include breakpoint(large) {
            padding-top: 97px;
        }

        @media(min-width:640px)and(max-width: 900px) {
            margin-bottom: 1rem;
        }
    }

    p {
        margin-bottom: 1rem;

        @include breakpoint(large) {
            margin-bottom: 50px;

        }
    }

    .left {
        border-right: 1px solid #DFE8E6;
        padding-left: 20%;
     @include breakpoint(medium) {
         padding-left: 0px;
     }
      

    }

    .left,
    .right {
        padding-bottom: 2rem;

        @include breakpoint(medium) {
            padding-bottom: 80px;

        }
    }

    .right {
        @include breakpoint(medium) {
            padding-left: 50px;

        }

        .price {

            max-width: 115px;
            top: 60%;
            left: 4%;


        }
    }

    .third-box {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.about-fourth {
    padding: 2rem 0;

    @include breakpoint(medium) {
        padding: 3rem 0;
    }

    @include breakpoint(large) {
        padding: 90px 0;

    }

    .image {
            background-image: url("../assets/img/Warstwa\ 24.jpg");

 
    }

    .gray-back {
        @media(max-width: 579px) {
            display: none;
        }
        width: 25%;
        right: 0;
        top: 0;
    }
}

.about-fifth {

    padding: 2rem 0;

    @include breakpoint(medium) {
        padding: 3rem 0;
    }

    @include breakpoint(large) {
        padding: 130px 0;

    }

    .image {
        background-image: url("../assets/img/Warstwa\ 25.jpg");
    }

    .gray-back {
        width: 20%;
    }

    .big-title {
        max-width: 361px;

    }

    .small-title {
        max-width: 460px;
    }
}

.about-fourth,
.about-fifth {
    .big-title {
        font-size: 18px;
        margin-bottom: 1rem;
        @include breakpoint(medium) {
            font-size: 35px;
            margin-bottom: 2rem;;
        }
        @include breakpoint(large) {
            font-size: 40px;
        }
    }
    p {
        @include breakpoint(large) {
            margin-bottom: 50px;

        }
    }
}

.about-last {
    padding: 2rem 0;

    @include breakpoint(medium) {
        padding: 3rem 0;
    }

    @include breakpoint(large) {
        padding: 75px 0;
    }

    background-image: url("../assets/img/Group\ 253.jpg");

    p,
    .big-title {
        color: #fff;
     
    }
    .big-title {
        font-size: 20px;
        text-align: center;
        @include breakpoint(medium) {
            font-size: 26px;
            text-align: left;
        }
        @include breakpoint(large) {
            font-size: 40px;
        }
    }

    .button-box {
        margin-top: 2rem;

        @include breakpoint(medium) {
            margin-top: 58px;
        }
    }

}


//////////////////////product 
@keyframes example {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
    }
}

.product-baner {
    background-image: url("../assets/img/iStock-875935976.jpg");
    height: 273px;
}


.product-first {
    .checkbox-box {
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        [type='checkbox']+label {
            margin-left: 0;
            font-size: 11px;
            margin-bottom: 8px;

            @include breakpoint(medium) {
                font-size: 14px;
                margin-bottom: 12px;

            }

            color: #707070;
            font-weight: 500;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .check-with-label:checked+.label-for-check {
            font-weight: bold;
            color: $green;
        }

        .check-with-label:hover+.label-for-check {
            color: $green;
        }
    }

    .left-menu-title {
        color: #89ADB1;
        font-size: 10px;

        @media(min-width: 480px) {
            font-size: 12px;
        }

        @include breakpoint(medium) {
            font-size: 16px;
        }

        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 2rem;

    }

    .color-checkbox-box {
        max-width: 130px;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .color-checkbox {
            position: relative;

            .label-for-check {
                width: 35px;
                height: 35px;
                background-color: red;
                transition: .3s ease-in-out;
            }

            [type='checkbox']+label {
                margin-left: 0;
            }
        }

        .check-with-label:checked+.label-for-check {
            border: 2px solid #545454;
        }

        .check-with-label:hover+.label-for-check {
            border: 2px solid #545454;
        }
    }

    .left-menu {

        display: none;

        @include breakpoint(my-medium) {
            display: block;
        }

        .left-menu-item {
            margin-bottom: 49px;
        }







    }

    .small-menu {
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;

        @include breakpoint(my-medium) {
            display: none;
        }

        .small-menu-item {
            padding-bottom: 12px;

            &:hover {
                cursor: pointer;
            }
        }

        .left-menu-title {
            margin-bottom: 0;
        }

        .small-menu-pick {
            animation-name: example;
            animation-duration: .3s;
            animation-timing-function: ease-in-out;
            opacity: 0;
            display: none;
            white-space: nowrap; ///warto zapamiętać- dopasowanie do kontentu w pos. absolute
            left: -1rem;
            border: 1px solid $green;
            padding: 0.5rem;

            @include breakpoint(medium) {
                padding: 1rem;

            }

            position: absolute;
            background: #fff;
        }

        .first {
            left: 0;
        }

        .last {
            right: 0;
            left: -2rem;
            // white-space: normal;
        }

        .color-checkbox-box {
            min-width: 160px;
        }

        .small-menu-item:hover+.small-menu-pick {
            opacity: 1;
            display: block;
            cursor: pointer;
        }

        .small-menu-pick:hover {
            opacity: 1;
            display: block;
        }
    }

    .big-title {
        text-transform: uppercase;
        margin-bottom: 42px;
    }

    .cells-box {
        .cell {
            transition: .3s ease-in-out;

            &:hover {
                opacity: 0.7;
            }
        }

        img {
            width: 200px;
        }

        p {
            font-size: 15px;
            font-weight: 500;
            color: #545454;
            line-height: 1.3;
        }
    }
}

////////////////////////////single product

.single-product {
    background-image: url("../assets/img/ball-of-yarn.png");
    background-position: top right;
    background-size: 45%;
 

    .big-title {
        margin-bottom: 0;

        @include breakpoint(large) {
            font-size: 35px;
        }
    }

    .small-bags-box {
        height: 20%;
     
   
        .single-small-img {
            background-image: url("../assets/img/043_30_008_F-2017_01.png") ;
            background-size: contain;
            width: 20%;
            @include breakpoint(large) {
                width: 17%;
            }
            transition: .3s ease-in-out;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
        .single-small-img-1 {
            background-image: url("../assets/img/043_30_101_F-2017_01.png");
        }

        justify-content: center;


    }

    .left {
            height: 367px;

            @include breakpoint(medium) {
                height: 561px;
            }
            .single-big-img {
                height: 80%;
                background-image: url("../assets/img/043_30_008_F-2017_01.png") ;
                background-size: contain;
            }
        
        text-align: center;

        @include breakpoint(small-medium) {
            text-align: left;
        }

        padding-bottom: 3rem;

        @media screen and (min-width: 640px) {
            padding-bottom: 5rem;
        }

        @media screen and (min-width: 1200px) {
            padding-bottom: 98px;
        }
    }

    .opis {
        justify-content: center;
        @include breakpoint(medium) {
            justify-content: flex-start;
        }

        @include breakpoint(large) {
            padding-left: 50px;
        }

        .title-30 {
            margin-bottom: 2rem;
        }
        .button-green {
            padding: 7px 28px;
            @include breakpoint(medium) {
                padding: 12px 28px;
            }

        }

        .p-box {
            margin-bottom: 2rem;

            @include breakpoint(medium) {
                margin-bottom: 51px;

            }

            p {
                margin-bottom: 0;
                @include breakpoint(medium) {
                    margin-bottom: 5px;

                }
                color: #545454;

                @include breakpoint(large) {
                    font-size: 15px;
                }
            }
        }

        .button-green {
            @include breakpoint(medium) {
                padding: 8px 33px;
            }
        }

    }
}

////////////////realizacje

.realizacje {
    .realization-leafe-1 {
        right: 0;
        top: 43%;
    }
    .realization-leafe-2 {
        left: 0;
        top: 59%;
    }
    padding-top: 50px;

    @include breakpoint(medium) {
        padding-top: 100px;

    }

    @include breakpoint(large) {
        padding-top: 200px;
    }

    .title-30 {
        margin-bottom: 40px;

        @include breakpoint(medium) {
            margin-bottom: 71px;
        }

    }

    .grid-images {
        @media(max-width: 479px) {
            display: block;
            height: auto;
        }

        height: 800px;
        -webkit-column-gap: 1rem;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        row-gap: 1rem;

        @include breakpoint(medium) {
            height: 1200px;
            -webkit-column-gap: 1.5rem;
            -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
            row-gap: 1.5rem;
        }

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

        @include breakpoint(large) {
            height: 1400px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        }

        display: -ms-grid;
        display: grid;


    }

    .image-text {
        opacity: 0;
        transition: .3s ease-in-out;
        background-color: rgba(34, 69, 74, 0.9);
        color: #fff;
        width: 101%;
        height: 101%;
        left: 0;
        bottom: 0;
        padding: 5%;

        @include breakpoint(large) {
            padding: 1.5rem;
        }

        .grid-image-title {
            color: #fff;
            font-size: 16px;
            margin-bottom: 1rem;

            @include breakpoint(medium) {
                font-size: 20px;
            }

            @include breakpoint(large) {
                font-size: 25px;
                margin-bottom: 29px;
            }
        }

        p {
            font-size: 12px;
            color: #fff;

            @include breakpoint(large) {
                font-size: 15px;
            }
        }
    }

    .grid-image {
        @media(max-width: 479px) {
            height: 200px;
            margin-bottom: 2rem;
        }

        overflow: hidden;

        &:hover {
            cursor: pointer;

            .image-text {
                opacity: 1;
            }
        }
    }

    .image-1 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        background-image: url("../assets/img/fotolia_179621466.jpg");
    }

    .image-2 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        grid-row: 2/4;
        background-image: url("../assets/img/10425400_833246383449719_5230379309013185643_n.jpg");
    }

    .image-3 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 4;
        -ms-grid-row-span: 2;
        grid-row: 4/6;
        background-image: url("../assets/img/fotolia_205601857.jpg");
    }

    .image-4 {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/3;
        background-image: url("../assets/img/fotolia_185382146.jpg");
    }

    .image-5 {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
        background-image: url("../assets/img/fotolia_188622508.jpg");
    }

    .image-6 {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        grid-row: 4/5;
        background-image: url("../assets/img/50580415_2113534238754254_3353194977894072320_n.jpg");
    }

    .image-7 {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        grid-row: 5/6;
        background-image: url("../assets/img/42203314_1944310672343279_4828481798432358400_n.jpg");
    }

    .image-8 {
        @media(max-width: 1023px) {
            display: none;
        }

        -ms-grid-column: 3;

        grid-column: 3/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        background-image: url("../assets/img/23244459_1569091469865203_744750669520517881_n.jpg");
    }

    .image-9 {
        @media(max-width: 1023px) {
            display: none;
        }

        -ms-grid-column: 3;

        grid-column: 3/3;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
        background-image: url("../assets/img/11666025_850445365063154_270107232936762_n.jpg");
    }

    .image-10 {
        @media(max-width: 1023px) {
            display: none;
        }

        -ms-grid-column: 3;

        grid-column: 3/3;
        -ms-grid-row: 3;
        -ms-grid-row-span: 2;
        grid-row: 3/5;
        background-image: url("../assets/img/fotolia_168456110.jpg");
    }

    .image-11 {
        @media(max-width: 1023px) {
            display: none;
        }

        -ms-grid-column: 3;

        grid-column: 3/3;
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        grid-row: 5/6;
        background-image: url("../assets/img/65636521_2349801031794239_4651512232255946752_n.jpg");
    }
}


////////////////////////produkcja

.production-baner {
    background-image: url("../assets/img/Warstwa\ 27.jpg");
    height: 250px;

    p {
        color: #fff;
       width: 70%;

        @include breakpoint(medium) {
            margin-left: 30px;
            width: 100%;
            max-width: 480px;

        }

        @include breakpoint(large) {

            margin-left: 130px;
        }

        line-height: 1.7;
    }

    .grid-container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    @include breakpoint(medium) {
        height: 386px;
    }

    .big-title {
        color: #fff;
        max-width: 471px;
    }
}

.production-last {
    .big-title {
        text-align: left;
        img {
            width: 300px;
            @include breakpoint(my-medium) {
                width: 350px;
            }
            @include breakpoint(large) {
                width: auto;
            }
        }
    }
    .right {
        display: flex;
        justify-content: flex-end;
    }

    .title-20 {
        font-size: 20px;
        color: #fff;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    p {
        margin-bottom: 0;
    }

    ul {
        margin-bottom: 0;

        li {
            font-size: 14px;
            color: #fff;
        }
    }
}

.produkcja-main {

    // justify-content: center;
    // display: flex;
    .strange-img-box {
        @include breakpoint(large) {
            margin-right: 150px;
        }
    }

    .produkcja-title {
        font-size: 13px;

        @media(min-width: 800px) {
            font-size: 19px;

        }

        color: #707070;
        margin-bottom: 10px;
        @media(min-width: 800px) {
            margin-bottom: 20px;

        }
        font-weight: bold;
    }

    .produkcja-small-title {
        font-size: 12px;
        font-weight: bold;
        color: #707070;
        text-transform: uppercase;
        margin-bottom: 6px;
        @media(min-width: 800px) {
            margin-bottom: 12px;

        }
    }

    p {
        font-size: 12px;
        margin-bottom: 0.5rem;
        @media(min-width: 800px) {
            font-size: 13px;
            margin-bottom: 1rem;

        }

        color: #707070;
    }

    .produkcja-text {
        text-align: left;
    }

    .produkcja-text-1 {
        padding-top: 18%;
        text-align: right;
    }

    .produkcja-text-2 {
        padding-top: 41%;
        text-align: left;

        p {
            &:last-child {
                @media(max-width: 1200px) {
                    display: none;
                }
            }
        }

    }

    .produkcja-text-3 {
        padding-top: 65%;
    }

    .produkcja-text-4 {
        padding-top: 33%;

        .small-title-4 {
            font-size: 13px;
            color: #707070;
            margin-bottom: 15px;
            font-weight: bold;
        }

        .produkcja-p-box {
            display: flex;
            flex-wrap: wrap;

            p {
                color: #3C3C3C;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 13px;
                padding-right: 20px;
                margin-bottom: 7px;
            }
        }
    }

    .produkcja-desktop {
        display: none;

        @media(min-width: 800px) {
            display: flex;
        }
    }

    .produkcja-mobile {
        display: flex;

        @media(min-width: 800px) {
            display: none;
        }

        .produkcja-text-1 {
            padding-top: 5%;
            text-align: left;
        }

        .produkcja-text-2 {
            padding-top: 20%;
            @media(min-width:640px) {
                padding-top: 16%; 
            }
        }

        .produkcja-text-3 {
            padding-top: 24%;

            .cell {
                padding-right: 10px;
            }
        }

        .produkcja-text-4 {
            padding-top: 5%;
        }
    }

    .produkcja-mobile-box {
        position: relative;
        .abs-circle {
            position: absolute;
            top: -20px;
            left: -48px;
        }
        .produkcja-text {
            padding-top: 0; 
            padding-bottom: 50px;
        }
        margin-left: 40px;
        padding-left: 50px;
        border-left: 3px solid $green;
        &:last-child {
            border-left: none;
        }
    }

}


///////////////////opinie

.baner-opinie {
    background-image: url("../assets/img/Warstwa\ 6.jpg");
}

.opinie-main {
    background-image: url("../assets/img/big-back.png");
    background-size: 135%;
    background-position: top right;
    background-position-y: 62%;
    background-position-x: 122%;
    .big-box {
        margin-top: -3px;
        margin-bottom: 1px;
        @include breakpoint(medium) {
            margin-top: -5px;
            margin-bottom: 0;

        }

    }

    .opinie-title {
        font-size: 15px; 
        @include breakpoint(medium) {
            font-size: 20px;
        }
        @include breakpoint(large) {
            font-size: 25px;

        }
        font-weight: bold;
        color: #545454;
        margin-bottom: 12px;
    }

    .opinie-cell-box {
        display: flex;
        &:first-child {
            padding-right: 20px;
       
            @media (max-width: 479px) {
                display: none;
            }
            @include breakpoint(my-medium) {
                padding-right: 0;
            }
        }
    }

    .opinie-cell {
        max-width: 281px;
    }

    .opinie-grid-box {
        position: relative;
        &:last-child,
        &:nth-last-child(2):nth-child(even) {
            .my-grid-x-left {
                &::after {
                    position: absolute;
                    bottom: -19px;
                    right: 0;
                    content: url("../assets/img/Intersection\ 1.png");
                    @include breakpoint(medium) {
                        content: url("../assets/img/Vector\ Smart\ Object.png");

                    }

                }

            }
        }


        .my-grid-x {
            padding-bottom: 15%;
            padding-top: 15%;
            border-bottom: 3px solid $green;
            @include breakpoint(medium) {
                border-bottom: 5px solid $green;
            }

        }

        // .my-grid-x-left {}

        .half-circle {
            height: 100%;
            border-bottom-right-radius: 350px;
            border-top-right-radius: 350px;
            border: 3px solid $green;
            @include breakpoint(medium) {
                border: 5px solid $green;
                border-bottom-right-radius: 350px;
                border-top-right-radius: 350px;
                border-left: 0;
            }
            border-left: 0;
            margin-left: -1px;
        }

    }

    .opinie-grid-box-left {
        margin-bottom: -3px;
        @include breakpoint(medium) {
            margin-bottom: -5px;

        }
        .half-circle-left {
            height: 100%;
            border-bottom-left-radius: 350px;
            border-top-left-radius: 350px;
            border: 3px solid $green;
            @include breakpoint(medium) {
                border: 5px solid $green;
                border-bottom-left-radius: 350px;
                border-top-left-radius: 350px;
                border-right: 0;
            }
 
            border-right: 0;
            margin-right: -1px;
        }
    }
}

////////////////////kontakt

.kontakt-first {
    .padding-top-bottom {
        @include breakpoint(medium) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @include breakpoint(large) {
            padding-top: 100px;
            padding-bottom: 120px;
        }
    }
    margin-bottom: 2rem;
    .left {
        background-image: url("../assets/img/brn.jpg");
    }
    .right {
        background-image: url("../assets/img/brn.jpg");
        background-size: 50%;
        background-position: left;
        @media(max-width: 859px) {
            padding: 50px 0 50px 30%;

        }
        @include breakpoint(my-medium) {
            background-image: none;
        }
    }
    p {
        padding-left: 40px;
        line-height: 1.66;
        color: #545454;
        @include breakpoint(large) {
            font-size: 15px;
        }
    }
}

.kontakt-main {
    .kontakt-box {
        padding-bottom: 3rem;
        @include breakpoint(my-medium) {
            padding-bottom: 70px
        }
        @include breakpoint(large) {
            padding-bottom: 156px;

        }
    }
    .konakt-title {
        line-height: 1.4;
        color: $green;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 25px;
        @include breakpoint(my-medium) {
            font-size: 35px;
        }
        @include breakpoint(large) {
            font-size: 52px;
        }
    }
    .title-19 {
        font-size: 12px;
        @include breakpoint(large) {
            font-size: 19px;

        }
        color: #545454;
        font-weight: bold;
        margin-bottom: 0;
    }
    p, a {
        @extend .title-19;
        font-weight: 400;
    }
    .email {
        overflow-wrap: anywhere;
        @extend .title-19;
        font-weight: 400;
        color: $green;
    }
    a:hover {
        opacity: 0.7;
    }
    img {
        width: 13.5px;
        @include breakpoint(large) {
            width: 19px;
            height: auto;

        }
    }
    .img-box {
        width: 25px;
        @include breakpoint(large) {
            width: 40px;
        }

    }

}