@import '../modules/foundation-settings';

* {
	outline: none;
	    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


body {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    // font-family: zeitung, sans-serif; 
}
.wrap {
    margin-top: 100px;
}
a {
    transition: .3s ease-in-out;
}

// .transform-180 {
//     transform: rotate(180deg);
// }

// .rotate {
//     img {
//         transform: rotate(180deg);
//     }
// }

// a {
// 	transition: all .3s ease-in-out;
// }

// .grid-container-padding {
//     @media (min-width: 1200px) {
//         padding: 0 5%;
//     }
// }

.section {
    margin-bottom: 3rem;
    @media screen and (min-width: 640px) {
        margin-bottom: 5rem;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 98px;
    }
}

.center {
    display: flex;
    align-items: center
}
.flex {
    display: flex;
}


// .height-100 {
//     @media screen and (min-width: 1360px){
//         min-height: 100vh;
//     }
// }

.order-1 {
    @media screen and (max-width: 639px) {
        order: -1;
    }
}
.order-1-small-medium {
    @media screen and (max-width: 479px) {
        order: -1;
    }
}

.position-relative {
    position: relative;
}
.position-absolute {
    position:absolute;
}

.full-width {
    width: 100%;
}

.grid-container-left {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    @media print, screen and (min-width: 1222px){
        padding-left: 0.9375rem;
        padding-right: 0;
    }
}
.grid-container-right {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    @media print, screen and (min-width: 1222px){
        padding-right: 0.9375rem;
        padding-left: 0;
    }
}

@media(min-width: 1130px) {
    .stretch-right {
        padding-right: calc( ( 100vw - 1222px) / 2 + 0.9375rem );
        }
    .stretch-left {
        padding-left: calc( ( 100vw - 1222px) / 2 + 0.9375rem );
    }

}

// .no-margin-bottom {
//     margin-bottom: 0 !important;
// }


// .link-a-opacity {
//     p {
//         transition: .3s ease-in-out;
//         &:hover {
//             opacity: 0.7;
//         }

//     }
// }

// .add-opacity {
//     opacity: 0.7;
//     .special-menu-title {
//         color: #5BC5C1 !important;
//     }
// }


.mb-90 {
 margin-bottom: 2rem;
 @include breakpoint(large) {
     margin-bottom: 90px;
 }
}

.padding-right-84 {
  @include breakpoint(large) {
      padding-right: 84px;
  }
}

.padding-left-84  {
  @include breakpoint(large) {
      padding-left: 84px;
  }    
}
.padding-left-54  {
    @include breakpoint(medium) {
        padding-left: 15px;
    }
  @include breakpoint(large) {
      padding-left: 54px;
  }    
}
.padding-right-100 {
    @include breakpoint(medium) {
        padding-right: 15px;
    }
  @include breakpoint(large) {
      padding-right: 50px
  }
  @media(min-width: 1300px) {
    padding-right: 100px
  }
}

.padding-left-100  {
    @include breakpoint(medium) {
        padding-left: 15px;
    }
  @include breakpoint(large) {
      padding-left: 50px
  }  
  @media(min-width: 1300px) {
    padding-left: 120px
  }  
}
.padding-left-60 {
    @include breakpoint(medium) {
        padding-left: 15px;
    }
  @include breakpoint(large) {
      padding-left: 20px
  }  
  @media(min-width: 1300px) {
    padding-left: 30px
  }  
}
.padding-top-bottom {
        @include breakpoint(medium) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        @include breakpoint(large) {
            padding-top: 100px;
            padding-bottom: 120px;
        }


}
.small-2rem {
    margin-bottom: 2rem;
    @include breakpoint(medium) {
        margin-bottom: 0;
    }
}
.small-medium-2rem {
    margin-bottom: 2rem;
    @include breakpoint(small-medium) {
        margin-bottom: 0;
    }
}

.small-250 {
    @media(max-width: 639px) {
        height: 250px;
    }
}
.small-medium-250 {
    @media(max-width: 479px) {
        height: 250px;
    }
}


.price {
    transition: .3s ease-in-out;;
    &:hover {
      opacity: 0.9;
    }
    right: 15px;
    top: 50px;
    width: 86px;
    @include breakpoint(medium) {
        width: 105px;
    }
    @include breakpoint(large) {
        width: 120px;
    }

    @media(min-width: 1300px) {
        right: 0;
        top: 110px;
        width: 166px;
    }
}

.gray-back {
    background: #EEEEEE;
    position: absolute;
    height: 100%;
    z-index: -1;
    top:0;
}






