@import '../modules/foundation-settings';

$blue: #3F5BA5;
$brown: #8E6B55;
$beige-table: rgba(63, 91, 166, 0.12);
$light-beige-table: rgba(63, 91, 166, 0.07);
$grey: #404D5A;
$green: #7FA9AE;



* {
    font-family: 'DM Sans', sans-serif;
}

// @mixin grid-padding-x($property) {
//     @media(min-width: 1024px) {
//         margin-left: -$property;
//         margin-right: -$property;
//         > .cell {
//         padding-left: $property;
//         padding-right: $property;
//         }

//     }
//   }

// .small-img-height {
//     @media(max-width: 639px) {
//         height: 250px;
//         margin-bottom: 2rem;
//     }
// }

h1,h2,h3,h4,h5,h6 {
    font-family: 'Red Hat Display', sans-serif;
}



.big-title {
    font-size: 25px;
    margin-bottom: 1rem;
    @include breakpoint(medium) {
        font-size: 35px;
        margin-bottom: 2rem;
    }
    @include breakpoint(large) {
        font-size: 40px;
    }
  
    color: #545454;
    font-weight: 400;
    line-height: 1.25;

    // em {
    //     font-style: normal;
    //     color: #3F5BA5
    // }
}
.title-30 {
    font-size: 20px;
    // line-height: 0.73;
    @include breakpoint(medium) {
        font-size: 25px;
    }
    @include breakpoint(large) {
        font-size: 30px;
    }
    color: #545454;
    font-weight: 500;
    em {
        font-style: normal;
        border-bottom: 6px solid $green;
    }
}
.small-title {
    font-size: 14px;
    margin-bottom: 1rem;
    @include breakpoint(medium) {
        font-size: 16px;
        margin-bottom: 2rem;

    }
    @media(min-width: 1300px) {
        font-size: 20px;

    }
    color: #545454;
    line-height: 1.3;
 
    em {
        font-style: normal;
        color: $green;
    }
}


#breadcrumbs {
    margin-bottom: 0;
    font-size: 11px;
    color: #545454;
    a {
        color: #545454;
        &:hover {
            opacity: 0.7;
        }
    }
}

.arrow-to-button {
    top: 0;
    bottom: 0;
    margin: auto;
    right: -28px;
}

.myButton {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    padding: 7px 28px;
    @include breakpoint(medium) {
        padding: 12px 28px;

    }
    @include breakpoint(large) {
        font-size: 12px;
        padding: 14px 56px;

    }
    border-radius: 50px;
    // @media screen and (min-width: 980px){
    //     font-size: 13px;
    // }
    // @media screen and (min-width: 1360px){
    //     font-size: 15px;
    // }

    // border-radius: 100px;
    transition: .3s ease-in-out;
    // margin-bottom: 0;
    &:hover {
        cursor: pointer;
    }
}




.button-green {
    @extend .myButton;
  
    background-color:$green !important;
    color: #fff;
    border: 1px solid $green;
    &:hover {
       background-color: transparent !important;
       color: $green !important;
    }
}

.button-white{
    @extend .myButton;
    background-color:#fff;
    color: #1A2016;
    border: 1px solid #fff;
    &:hover {
       background-color: transparent;
       color: #fff;
    }
}

p {
    font-size: 12px;
    @include breakpoint(large) {
        font-size: 14px;

    }
    color: #787C7F;
    line-height: 1.4;
    em {
        font-style: normal;
        color: #1D2B52;
        font-weight: 600;
    }
}