
      <section class="footer-big">
       <div class="grid-container">
           <div class="grid-x">
               <div class="cell my-medium-6 footer-left">
                <h2 class="big-title">Nie wierzysz, że poradzimy sobie z Twoim projektem?</h2>
               </div>
               <div class="cell my-medium-6 footer-form-box">
                   <div class="footer-form">
   
                       <div>
                           <h2 class=" form-title big-title">Napisz do nas!</h2>
   
                           <div role="form" class="wpcf7" id="wpcf7-f127-o1" lang="pl-PL" dir="ltr">
                               <div class="screen-reader-response"></div>
                               <form action="/aktualnosci/#wpcf7-f127-o1" method="post" class="wpcf7-form"
                                   novalidate="novalidate">
                                   <div style="display: none;">
                                       <input type="hidden" name="_wpcf7" value="127">
                                       <input type="hidden" name="_wpcf7_version" value="5.1.6">
                                       <input type="hidden" name="_wpcf7_locale" value="pl_PL">
                                       <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f127-o1">
                                       <input type="hidden" name="_wpcf7_container_post" value="0">
                                       <input type="hidden" name="_source_type" value="">
                                       <input type="hidden" name="_source_id" value="">
                                       <input type="hidden" name="_source_name" value="">
                                   </div>
                                   <p>
                                 
                                       <div class="grid-x grid-margin-x ">
                                           <div class="cell small-6">
                                            <span class="wpcf7-form-control-wrap your-name"><input type="text"
                                                name="your-name" value="" size="40"
                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                aria-required="true" aria-invalid="false"
                                                placeholder="Imię i nazwisko"></span>
                 
                                           </div>
                                           <div class="cell small-6">
                                            <span class="wpcf7-form-control-wrap your-phone"><input type="tel"
                                                name="your-phone" value="" size="40"
                                                class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                                aria-required="true" aria-invalid="false"
                                                placeholder="Telefon"></span>
                           
                                           </div>
                                           <div class="cell small-6">
                                            <span class="wpcf7-form-control-wrap your-email"><input type="email"
                                                name="your-email" value="" size="40"
                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                aria-required="true" aria-invalid="false"
                                                placeholder="Adres e-mail"></span>
                                           </div>
                                           <div class="cell small-6">
                                            <span class="wpcf7-form-control-wrap your-email"><input type="email"
                                                name="your-email" value="" size="40"
                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                aria-required="true" aria-invalid="false"
                                                placeholder="Temat/model"></span>
                                           </div>
                                       </div>
                                        
                                       <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message"
                                               cols="40" rows="4" class="wpcf7-form-control wpcf7-textarea"
                                               aria-invalid="false"
                                               placeholder="Treść wiadomości"></textarea></span><br>
                                       <!-- <span class="wpcf7-form-control-wrap polityka-prywatnosci"><span
                                               class="wpcf7-form-control wpcf7-acceptance"><span
                                                   class="wpcf7-list-item"><label><input type="checkbox"
                                                           name="polityka-prywatnosci" value="1"
                                                           aria-invalid="false"><span
                                                           class="wpcf7-list-item-label">Oświadczam, że zapoznałem się i akceptuję Politykę Prywatności. Lorem ipsum dolor sit amet consectetur.</span></label></span></span></span><br>
                                       <span class="wpcf7-form-control-wrap newsletter"><span class="wpcf7-form-control wpcf7-acceptance optional"><span class="wpcf7-list-item"><label><input type="checkbox" name="newsletter" value="1" aria-invalid="false"><span class="wpcf7-list-item-label">Wyrażam zgodę na otrzymywanie materiałów marketingowych. Oświadczam, że zapoznałem się i akceptuję Politykę Prywatności.</span></label></span></span></span><br>
                                       <span class="wpcf7-form-control-wrap"><span
                                           class="wpcf7-form-control wpcf7-acceptance"><span
                                               class="wpcf7-list-item"><label><input type="checkbox"
                                                     ><span
                                                       class="wpcf7-list-item-label">Nie jestem robotem.</span></label></span></span></span> -->
                                      
                                       <!-- <div class="text-right">
                                           <input type="submit" value="Wyślij"
                                               class="wpcf7-form-control wpcf7-submit more" disabled=""><span
                                               class="ajax-loader"></span>
                                       </div> -->
                                       <div class="flex button-box">
                                        <div class="position-relative">
                                            <input type="submit" value="Wyślij wiadomość"
                                               class="wpcf7-form-control wpcf7-submit more" disabled=""><span
                                               class="ajax-loader"></span>
                                            <img src="assets/img/Rectangle 2 copy 4 kopia.svg" alt="" class="position-absolute arrow-to-button">
                                        </div>
                                    </div>
                                       <div class="wpcf7-response-output wpcf7-display-none"></div>
                               </form>
                           </div>
                       </div>
   
                   </div>
               </div>
           </div>
      
 

       </div>


    </section>
    <section class="footer-white">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell small-6 medium-4 my-medium-3 footer-white-box ">
                    <div class="first-box-inside">
                        <p>© 2019 HEYDAY - studio reklamy Kraków </p>
                        <p> ul. Szara 12/1, 30-820 Kraków</p>
    
                    </div>
                </div>
                <div class="cell small-6 medium-4 my-medium-6 footer-white-box middle flex">
                    <div class="middle-inside">
                        <div class="first">
                            <div class="flex">
                                <img src="assets/img/Inteligentny obiekt wektorowy kopia 2.svg" alt="">
                                <p><a href="">info@heydaystudio.pl</a></p>
                            </div>
                         </div>
                         <div>
                                    <div class="flex">
                                        <img src="assets/img/Inteligentny obiekt wektorowy kopia 2a.svg" alt="">
                                        <p><a href="">+48 607 620 284</a></p>
                                    </div>
            
                        </div>
                    </div>
                </div>
              
                <div class="cell medium-4 my-medium-3 footer-white-box last">
                   <div class="inside">
                       <p>Zobacz co u nas:</p>
                       <a href="">
                           <img src="assets/img/Sociale z xd.svg" alt="">
    
                       </a>
                   </div>
                </div>
            </div>

        </div>
    </section>
    <div class="grid-container">
        <div class="footer-rodo">
            <div>Copyright 2020 Ligra. Wszelkie prawa zastrzeżone.</div>
            <div><a href="">Projektowanie stron hauerpower</a></div>
        </div>

    </div>